/* Обнуляем отступы и поля */
* {
  margin: 0;
  padding: 0;
}

/* Установка шрифта и размера текста для всего документа */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Задний фон */
body {
  background-color: #f2f2f2;
}

/* Основной контейнер */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Заголовок */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Ссылки */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Формы */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Кнопки */
.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

/* Таблицы */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Футер */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Медиа-запросы для отзывчивости */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
}