{% extends 'mailing_app/base.html' %}

{% block content %}
    <div class="container">
        <h2 class="mt-4 mb-4 text-center">Подтвердите удаление</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <form method="post" enctype="multipart/form-data" class="mt-3">
                            {% csrf_token %}
                            <p>
                                <strong>Вы уверены, что хотите удалить рассылку "{{ object.message }} время
                                    рассылки {{ object.mailing_time }}"?</strong>
                            </p>
                            <div class="row justify-content-center">
                                <a href="{% url 'mailing_app:mailing_list' %}" class="btn btn-secondary mr-3">Отменить</a>

                                <button class="btn btn-danger" type="submit">удалить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}